<h1>Instru&ccedil;&otilde;es para os Autores</h1>

        <li>
                <p>
                        1) <strong>T&iacute;tulo</strong> em portugu&ecirc;s. Apresentar, igualmente, a vers&atilde;o do t&iacute;tulo (e do subt&iacute;tulo, se houver) para o ingl&ecirc;s.
                </p>
        </li>
    
        <li>
                <p>
                        2) <strong>Subt&iacute;tulo</strong>, se houver, deve ser breve e claro, mas suficientemente espec&iacute;fico e completo, expressando o conte&uacute;do do texto.
                </p>
        </li>
    
        <li>
                <p>
                        3) <strong>Autor</strong>. Indicar o nome completo do(s) autor(es). Credenciais, endere&ccedil;o, telefone e endere&ccedil;o eletr&ocirc;nico aparecer&atilde;o em nota de rodap&eacute;.
                </p>
        </li>
        
    <li>
                <p>
                        4) <strong>Resumo</strong>. Sintetiza de forma objetiva os pontos relevantes do texto. No caso de relato de pesquisa, o resumo deve incluir: objetivos pretendidos, a metodologia empregada, principais resultados e conclus&atilde;o. Usar a terceira pessoa do singular e o verbo na voz ativa. Deve limitar-se a um &uacute;nico par&aacute;grafo e conter no m&aacute;ximo 150 palavras.
                </p>
        </li>
        
    <li>
                <p>
                        5) <strong>Palavras-chave</strong>. Incluir de 3 a 6 palavras que representem o conte&uacute;do do artigo.
                </p>
        </li>
        
    <li>
                <p>
                        6) <strong>Abstract</strong>. Compat&iacute;vel com o texto do resumo.
                </p>
        </li>
        
    <li>
                <p>
                        7) <strong>Key words</strong>. Compat&iacute;veis com as palavras-chave.
                </p>
        </li>
        
    <li>
                <p>
                        8) <strong>Texto</strong>. Estruturar o corpo do texto em  introdu&ccedil;&atilde;o, desenvolvimento do tema (com as subdivis&otilde;es a crit&eacute;rio do autor) e conclus&atilde;o. Quanto &agrave; reda&ccedil;&atilde;o, usar linguagem impessoal, evitando a primeira pessoa do plural (p.ex., &ldquo;ressaltamos&rdquo;, &ldquo;observamos&rdquo;, &ldquo;apresentamos&rdquo;, etc.)
                </p>
        </li>
        
    <li>
                <p>
                        9) <strong>Quadros, Tabelas e Figuras (gr&aacute;ficos, fotografias, mapas, etc.)</strong>. Devem ser enviados em seus formatos originais, separados do texto, com a devida indica&ccedil;&atilde;o, para serem inclu&iacute;dos no corpo do trabalho. Recebem numera&ccedil;&atilde;o independente e apresentam t&iacute;tulos e legendas.
                </p>
        </li>
        
    <li>
                <p>
                        10) <strong>Notas</strong>. Sempre que poss&iacute;vel, evitar o uso de notas de rodap&eacute; ou notas de fim. Quando utilizadas, devem ser ordenadas por algarismos ar&aacute;bicos, colocados no texto ap&oacute;s a palavra ou frase a que dizem respeito.
                </p>
        </li>
        
    <li>
                <p>
                11) <strong>Cita&ccedil;&otilde;es</strong>. As cita&ccedil;&otilde;es de at&eacute;  3 linhas devem ser inseridas, entre aspas, no par&aacute;grafo; as de 4 linhas ou mais em par&aacute;grafo pr&oacute;prio (recuado &agrave; esquerda e &agrave; direita), com corpo de letra e entrelinhas menores que os do texto. Para indicar, no texto, as fontes de onde foram retiradas as cita&ccedil;&otilde;es utilizar o sobrenome do autor, em mai&uacute;sculas, seguido do  ano de publica&ccedil;&atilde;o da obra referenciada, entre par&ecirc;nteses, p. ex. (SEVERINO, 2000).<br />
    Quando o nome do autor estiver inclu&iacute;do na senten&ccedil;a, indica-se apenas a data entre par&ecirc;nteses, p. ex. Segundo Severino (2000)... No caso de transcri&ccedil;&atilde;o na &iacute;ntegra de um texto, a cita&ccedil;&atilde;o ser&aacute; acrescida da p&aacute;gina citada.
                </p>
        </li>
        
        <li>
                <p>             
                12)<strong>Refer&ecirc;ncias</strong>. S&atilde;o as fontes consultadas e obrigatoriamente citadas no texto. As refer&ecirc;ncias completas dever&atilde;o estar listadas no final do texto em ordem alfab&eacute;tica e obedecer &agrave; NBR 6023:2002 &ndash; Informa&ccedil;&atilde;o e Documenta&ccedil;&atilde;o &ndash; Refer&ecirc;ncias &ndash; Elabora&ccedil;&atilde;o.              
                        <ul>Exemplos de tipos comuns de refer&ecirc;ncia</ul>
                        <ul>Livro
                        <li>MARTINS, Ives Gandra. Sistema tribut&aacute;rio na Constitui&ccedil;&atilde;o de 1998. 5. ed. S&atilde;o Paulo: Saraiva, 1998.
                                </li>
                        </ul>
                        <ul>Cap&iacute;tulo de livro
                                <li>TARSITANO NETO, Frederico. A divis&atilde;o internacional do trabalho e a nova ind&uacute;stria do alum&iacute;nio na Amaz&ocirc;nia. In:CASTRO, Edna; MOURA, Edila A. F.; MAIA, Maria L&uacute;cia S. (Org.).  Industrializa&ccedil;&atilde;o e grandes projetos; desorganiza&ccedil;&atilde;o e reorganiza&ccedil;&atilde;o do espa&ccedil;o. Bel&eacute;m: EDUFPA, 1995. p. 71-87.
                                </li>
                        </ul>
                        <ul>Artigo de peri&oacute;dico
                                <li>EIGA, Nelson. Introdu&ccedil;&atilde;o ao gerenciamento eletr&ocirc;nico de documentos. Saber. Ci&ecirc;ncias exatas e tecnologia: revista do Centro de Ensino Superior do Par&aacute;, Bel&eacute;m, v. 1, n. 1, p. 29-36, jun. 1999.
                                </li>
                        </ul>
                        <ul>Disserta&ccedil;&atilde;o ou Tese
                                <li>VALE, Silvio Bispo do. Monitora&ccedil;&atilde;o e an&aacute;lise de um sistema h&iacute;drico e&oacute;lico-diesel para gera&ccedil;&atilde;o de eletricidade. 2000. 176 f. Disserta&ccedil;&atilde;o (Mestrado em Engenharia El&eacute;trica) &ndash; Programa de P&oacute;s-gradua&ccedil;&atilde;o em Engenharia El&eacute;trica, Centro Tecnol&oacute;gico, Universidade Federal do Par&aacute;, Bel&eacute;m, 2000.
                                </li>
                        </ul>
                        <ul>Trabalho publicado em Anais de Evento
                                <li>PALMIER, L. R.; LIB&Acirc;NIO, M.; NASCIMENTO, N. O. Aspectos sobre a vida &uacute;til e remo&ccedil;&atilde;o de barragens. In: CONGRESSO BRASILEIRO DE ENGENHARIA AMBIENTAL, 20., 1999. Anais... Rio de Janeiro: ABES, 1999. p. 35-49. 1 CD-ROM.
                                </li>
                        </ul>
                        <ul>Documentos eletr&ocirc;nicos
                                <li>Artigo
                                        <p>SILVA, M. M. L. Crimes da era digital. Net, Rio de Janeiro, nov. 1998. Se&ccedil;&atilde;o Ponto de Vista. Dispon&iacute;vel em: &lt;http://www.brazilnet.com.br/contexts/brasilrevistas.htm&gt;. Acesso em: 28 nov.1998.
                                        </p>
                                </li>
                                <li>Homepage institucional
                                        <p>CENTRO UNIVERSIT&Aacute;RIO DO ESTADO DO PAR&Aacute;. Dispon&iacute;vel em :&lt;http://www.cesupa.br&gt;. Acesso em: 18 junho 2002.
                                        </p>
                                </li>
                        </ul>
                </p>
        </li>
        
        <li>
                <p>
                        13) <strong>Anexos</strong>. Incluir somente se forem essenciais &agrave; compreens&atilde;o do texto.
                <ul>CONFIGURA&Ccedil;&Atilde;O DO DOCUMENTO
                <li>Os originais devem ser digitados no programa Word (para Windows, ou compat&iacute;vel), de forma corrida, em espa&ccedil;o 1,5, tamanho da fonte 12, tipo Times New Roman. Configurar a p&aacute;gina para papel A4 (21cm x 29,7cm), usando margens superior e inferior (2 cm), esquerda e direita (3 cm). As laudas ser&atilde;o numeradas no canto superior direito. A extens&atilde;o dos textos &eacute; de 20 a 30 laudas, incluindo tabelas, quadros figuras, refer&ecirc;ncias e anexos.
                        </li>
                </ul>
                <ul>OBSERVA&Ccedil;&Atilde;O
                <li>O texto deve ser encaminhado na &iacute;ntegra e definitivamente revisto. As informa&ccedil;&otilde;es nele contidas s&atilde;o de inteira responsabilidade dos autores.
                        </li>
                </ul>
                </p>
        </li>
        
        <li>
                <p>
                14) <strong>Transfer&ecirc;ncia de Direito Autoral </strong>
                <ul>Autoriza&ccedil;&atilde;o para publica&ccedil;&atilde;o</ul>
                <ul>
                        <li>Caso o artigo seja aprovado para publica&ccedil;&atilde;o j&aacute; fica acordado que o autor autoriza o CESUPA a public&aacute;-lo e reproduzi-lo na  Saber:  Revista do Centro Universit&aacute;rio do Estado do Par&aacute;. Poder&aacute; ser acessada tanto por Internet, como pela vers&atilde;o impressa, sendo permitidas gratuitamente a consulta e reprodu&ccedil;&atilde;o de exemplar do artigo para uso pessoal de quem a consulta desde que seja citada a fonte original Essa autoriza&ccedil;&atilde;o de publica&ccedil;&atilde;o n&atilde;o obedece limite de tempo. A revista se reserva o direito de efetuar, nos originais altera&ccedil;&otilde;es de ordem normativa, ortogr&aacute;fica e gramatical, com a finalidade de manter o padr&atilde;o  culto da l&iacute;ngua. As provas finais n&atilde;o ser&atilde;o enviadas aos autores.</li>
                </ul>
                </p>
        </li>
        
        <li>
                <p>
                15) <strong>Envie seu artigo para: </strong>
                <ul><a href="mailto:saberjuridico@cesupa.br">saberjuridico@cesupa.br</a></ul>
                </p>
        </li>