<h1>Apresenta&ccedil;&atilde;o</h1>

                        <strong><h3>ISSN</h3></strong>
 
                        <strong style="font-size:14px;">ISSN - Impressa &shy; 1519-6380</strong>

                        <strong><h3>Periodicidade Semestral</h3></strong>

                        Endere&ccedil;o para correspond&ecirc;ncia Saber<br />
						
                        Ci&ecirc;ncias sociais aplicadas : revista do Centro Universit&aacute;rio do Estado do Par&aacute; - CESUPA.<br />

                        A&frasl;C. : Hilma Celeste Alves Melo<br />

						Av. Governador Jos&eacute; Malcher, 1963 - Nazar&eacute;<br />

						CEP: 66060-230- Bel&eacute;m-Par&aacute;-Brasil<br />

						Endere&ccedil;o eletr&ocirc;nico: <a href="mailto:saberjuridico@cesupa.br">saberjuridico@cesupa.br</a>
                        
                        
                        
                        <strong><h3>Sobre a Revista</h3>
                        </strong>

A Saber: revista do Centro Universit&aacute;rio do Estado do Par&aacute; publica, desde 1999  trabalhos originais escritos por alunos, professores/pesquisadores do CESUPA e de outras institui&ccedil;&otilde;es nacionais ou internacionais na forma de artigos in&eacute;ditos.

