<h1>Comiss&atilde;o Editorial</h1>

            	<ul><strong>Comiss&atilde;o Editorial</strong></ul>

            	<ul>
            	  <strong>Editor Respons&aacute;vel </strong>
            	</ul>
		
	    	<ul>

                        <li>Jo&atilde;o Paulo do Valle Mendes</li>
            	</ul>

            	<ul><strong>Integrantes</strong></ul>

		<ul>

				<li>Aline Chami&eacute; Kozlovski</li>

                <li>B&aacute;rbara Lou Veloso Dias</li>
				
				<li>Silvia Maria Bitar de L. Moreira.</li>
				
				<li>Loiane Verbicaro</li>
				
				<li>Sandro Alex de Souza Sim&otilde;es</li>

		</ul>
            	

		<ul><strong>Financiamento</strong></ul>

	    	<ul>

				<li>CESUPA - Centro Universit&aacute;rio do Estado do Par&aacute;</li>

		</ul>