<h1>Conselho Editorial</h1>



	    <ul><strong>Coordenadora Editorial</strong>
		<li>Ana Cristina Darwich</li>
		</ul>
		
		<ul><strong>Conselho Editorial</strong>
				<li>B&aacute;rbara Lou Veloso Dias</li>
				<li> Celso Ant&ocirc;nio Coelho Vaz </li>
				<li>Guilherme Leite Gon&ccedil;alves</li>
				<li>Jean Carlos Dias</li>
				<li>Jose Avel&atilde;s Nunes</li>
				<li>Luciana Fonseca</li>
				<li> Luiz Alberto G. S. Rocha </li>
				<li>Nirson Medeiros Neto</li>
				<li>Paulo Klautau Filho</li>
				<li>Sandro Alex de Souza Sim&otilde;es</li>

	    </ul>