@charset "utf-8";
/* CSS Document */

#Geral {
	position: relative;
	width: 60%;
	margin: 0 auto;
}
#logocesupa {
	width: 80%;
	float: left;
	margin-top: 10%;
	margin-bottom: 5%;
}
#corpo {
	width: 100%;
	float: left;
	height: 30%;
	background: url(saber.jpg) no-repeat;
}
#menu {
	width: 15%;
	height: 10%;
	background: #9f3c00;
	float: left;
	margin-left: 5.5%;
	margin-top: 15.9%;
	list-style-position:outside;
}
#menu li a {
	color: #fff;
	width: 15%;
	font-family: "Trebuchet MS";
	font-size: 0.9em;
}
#menu li {
	list-style: none;
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 6%;
}


#conteudo {
	width: 60%;
	float: left;
	margin-left: 3%;
	font-family: "Trebuchet MS";
	font-size: 0.9em;
	margin-top:1%;
}
#conteudo h1 {
	color: #333;
	font-weight: 100;
}
#controla_conteudo {
	width: 102%;
	float: left;
	padding-top: 24.1%;
}
#rodape {
	width: 120%;
	height: 8em;
	background: url(rodape2.jpg) no-repeat;
	float: left;
	color: #fff;
	text-align:center;
}

.rodape_revista{ padding-top:6%; vertical-align: center;}


.textorodape {
	font-family: "Trebuchet MS";
	font-size: 12px;
	color: #666;
	margin-top: 20px;
	text-align:center;
}

#tabela{
	float:left;
	width:100%;
}

.fundotopo {
	background:url(tabela_topo.gif) no-repeat;
	width:125%;
	height:2em;
	color:#FFFFFF;
	font-family:"Trebuchet MS";
	margin-bottom:0px;
}

.titulo1{
	float:left;
	width:85%;
	padding-left:2%;
	padding-top:8px;
}

.titulo2{
	float:left;
	width:13%;
	padding-top:8px;
}


.lateraltabela {
	float:left;
	background:url(tabela_lateral_2.gif) repeat-y;
	width:125%;
}



.rodapetabela {
	float:left;
	width:608px;
	height:39px;
	color:#FFFFFF;
	font-family:"Trebuchet MS";
}

ul{
	font-weight:bold;
}

li{
	font-weight:normal;
	list-style-type:none;
}

.titulo2 a img{
	float:right;
	margin-top:40%;
	margin-left:100%;
}

.linha:hover{
	float:left;
	width:100%;
	background:#9F3C00;
	color:#FFFFFF;
}

a{text-decoration:none;}
